@import "assets/css/clone";
@import "assets/css/blog";
@import "assets/css/editor";
@import "assets/css/index.css";
@import '~antd/dist/antd.css';


:root {
  --primaryColor: #98713c;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --smallSpacing: 2px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}

.letter-space-1 {
  letter-spacing: 0.01rem;
}

.letter-space-2 {
  letter-spacing: 0.025rem;
}

.letter-space-3 {
  letter-spacing: 0.05rem;
}

.letter-space-4 {
  letter-spacing: 0.075rem;
}

.letter-space-5 {
  letter-spacing: 0.1rem;
}

.background-sand {
  background-color: rgb(50, 46, 22)
}

.opacity-0 {
  opacity: 0 !important;
}

.opacity-1 {
  opacity: 0.2 !important;
}

.opacity-2 {
  opacity: 0.4 !important;
}

.opacity-3 {
  opacity: 0.6 !important;
}

.opacity-4 {
  opacity: .8 !important;
}

.opacity-5 {
  opacity: 1 !important;
}

/* Maybe even support hover opacity shifts */
.opacity-0h5 {
  opacity: 0 !important;
  transition: opacity .25s ease-in-out !important;
  -moz-transition: opacity .25s ease-in-out !important;
  -webkit-transition: opacity .25s ease-in-out !important;
}

.opacity-0h5:hover {
  opacity: 1 !important;
}

.fs-1 {
  font-size: 1.2rem;
}

.fs-1-2 {
  font-size: 1.4rem;
}

.fs-2 {
  font-size: 1.6rem;
}


.fs-3 {
  font-size: 2rem !important;
}

.fs-4 {
  font-size: 2.4rem;
}

.fs-5 {
  font-size: 2.8rem;
}

.fs-6 {
  font-size: 3.2rem;
}

.fw-5 {
  font-weight: 500;
}

.fw-6 {
  font-weight: 600;
}

.fw-7 {
  font-weight: 700;
}

.fw-8 {
  font-weight: 800;
}

p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

a {
  color: #c7a84e;
  text-decoration: none !important;
}


.app-header {
  transition: .6s;
  position: relative;
  min-height: 680px;
  max-height: 80vh;
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .4;
  z-index: 0;
  object-fit: contain;
  background-size: cover;
  background: url("assets/smachno_18.jpg") fixed;
}

.welcome-header-text {
  h2 {
    font-size: 3rem;
    letter-spacing: 0.05rem;
  }

  text-transform: uppercase;
  position: absolute;
  letter-spacing: 0.02rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-description {
  margin-top: 2rem;
  font-weight: bold;
  text-transform: none;
}

.btn-custom {
  display: inline-block;
  letter-spacing: var(--smallSpacing);
  background: transparent;
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
  color: white;
  text-decoration: none;

  border: 3px solid;
  border-radius: 1px;
  font-size: 0.79rem;
  font-weight: bold;
  padding: 0.87em 1.45em;
  vertical-align: bottom;
}

.btn-custom:hover {
  background: transparent;
  color: var(--primaryColor);
  text-decoration: none;

}

.nav-btn {
  background: transparent;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  border: 3px solid #af9a7d;

}

a:hover, a:focus {
  color: white;
  background-color: transparent;
}

.navbar {
  transition: .6s;
  padding: 1.5rem;

}


//Sticky
.sticky {
  background: rgba(24, 26, 27, 0.95);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  padding-bottom: 1rem;
  padding-top: 1rem;
  transition: .6s;
  z-index: 2;
  position: fixed;
  top: 0;
  width: 100%;
}

.text-decor-none {
  text-decoration: none;
}

.text-decor-none:hover {
  text-decoration: none;
}

.break {
  height: 1px;
  background-color: gray;
  width: 12rem !important;
}

.entry-sub-title {
  color: rgb(166, 158, 146);
  font-style: italic;
  font-size: 1.2rem;
}

.content-entry {
  position: relative;
  margin: 4rem auto 0 auto;
}

.content-entry::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  height: 1px;
  background-color: gray;
  width: 12rem !important;
}

// End Sticky

.fit-content {
  height: fit-content;
  object-fit: cover;
}

.entry-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.entry-content {
  position: relative;
  margin-top: 4rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.entry-content::before {
  position: absolute;
  top: -2rem;
  left: 50%;
  content: "";
  height: 0.5px;
  background-color: gray;
  width: 25%;
  transform: translate(-50%, 0);
}


.article-border-right {
  position: relative;
}

.article-border-right::before {
  content: "";
  position: absolute;
  right: 0;
  height: 90%;
  top: 0;
  width: 0.5px;
  background-color: gray;
}


.social li a {
  color: inherit;
  text-decoration: none;
}

.social li {
  margin: .5rem;
}

.social li a {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  border: 2px solid;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 42px;
  line-height: 38px;
  width: 42px;
}

.social li a:hover {
  background-color: #c7a84e;
  background-color: var(--color-accent-base);
  border-color: #c7a84e;
  border-color: var(--color-accent-base);
  color: #ffffff;
  color: var(--color-white);
}

.social li a:hover {
  background-color: rgb(145, 120, 46);
  border-color: rgb(131, 108, 41);
  color: rgb(232, 230, 227);
}


.social li a {
  -webkit-box-align: center;
  align-items: center;
  border: 3px solid;
  border-radius: 50%;
  display: flex;
  height: 60px;
  line-height: 38px;
  width: 60px;
}

.social li svg {
  margin: auto;
}


#header-nav .site-title {
  transition: 1s;
  text-align: start;
  margin: 0 2rem;
}