.mediaViewInfo {
	--web-view-name: 1;
	--web-view-id: ID1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: ID1;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#ID1 {
	position: absolute;
	width: 1440px;
	height: 1440px;
	background-color: rgba(33,39,52,1);
	overflow: hidden;
	--web-view-name: 1;
	--web-view-id: ID1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#Content {
	position: absolute;
	width: 1440px;
	height: 1050px;
	left: 0px;
	top: 390px;
	overflow: visible;
}
#Base {
	fill: rgba(33,39,52,1);
}
.Base {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 1050px;
	left: 0px;
	top: 0px;
}
#Show_More {
	position: absolute;
	width: 150px;
	height: 50px;
	left: 645px;
	top: 965px;
	overflow: visible;
}
#Base_j {
	fill: transparent;
	stroke: rgba(49,57,76,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Base_j {
	position: absolute;
	overflow: visible;
	width: 150px;
	height: 50px;
	left: 0px;
	top: 0px;
}
#Show_More_k {
	opacity: 0.3;
	left: 40px;
	top: 15px;
	position: absolute;
	overflow: visible;
	width: 71px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: center;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Horizontal_Card {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 735px;
	top: 420px;
	overflow: visible;
}
#Base_m {
	fill: rgba(49,57,76,1);
}
.Base_m {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 558px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Image {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Content_o {
	position: absolute;
	width: 496px;
	height: 107px;
	left: 19px;
	top: 23px;
	overflow: visible;
}
#Is_The_Herbal_Way_The_Right_Wa {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Adwords_Keyword_Research_For_B {
	opacity: 0.3;
	left: 0px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Ollie_McBride {
	left: 51px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#May_18 {
	opacity: 0.6;
	left: 51px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Avatar {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1px;
	top: 67px;
	overflow: visible;
}
#ic_bookmark {
	opacity: 0.3;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 466px;
	top: 72px;
	overflow: visible;
}
#Base_v {
	fill: transparent;
}
.Base_v {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon {
	fill: rgba(255,255,255,1);
}
.Icon {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Horizontal_Card_x {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 165px;
	top: 420px;
	overflow: visible;
}
#Base_y {
	fill: rgba(49,57,76,1);
}
.Base_y {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 558px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#How_To_Boost_Your_Traffic_Of_Y {
	left: 210px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Angel_Steele {
	left: 260px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 74px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Aug_15 {
	opacity: 0.3;
	left: 260px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ic_bookmark_ {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 490px;
	top: 100px;
	overflow: visible;
}
#Base_ {
	fill: transparent;
}
.Base_ {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_ {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_ {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Avatar_ {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 205px;
	top: 89px;
	overflow: visible;
}
#Image_ {
	position: absolute;
	width: 190px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Horizontal_Card_ {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 165px;
	top: 60px;
	overflow: visible;
}
#Base_ba {
	fill: rgba(47,57,78,1);
}
.Base_ba {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 558px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#Image_ba {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Image_bb {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Content_bb {
	position: absolute;
	width: 496px;
	height: 107px;
	left: 19px;
	top: 23px;
	overflow: visible;
}
#Is_The_Herbal_Way_The_Right_Wa_bc {
	left: 1px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 236px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Adwords_Keyword_Research_For_B_bd {
	opacity: 0.3;
	left: 0px;
	top: 32px;
	position: absolute;
	overflow: visible;
	width: 267px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Ollie_McBride_be {
	left: 51px;
	top: 67px;
	position: absolute;
	overflow: visible;
	width: 79px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#May_18_bf {
	opacity: 0.6;
	left: 51px;
	top: 88px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Avatar_bg {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1px;
	top: 67px;
	overflow: visible;
}
#ic_bookmark_bh {
	opacity: 0.3;
	position: absolute;
	width: 30px;
	height: 30px;
	left: 466px;
	top: 72px;
	overflow: visible;
}
#Base_bi {
	fill: transparent;
}
.Base_bi {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_bj {
	fill: rgba(255,255,255,1);
}
.Icon_bj {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Horizontal_Card_bk {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 165px;
	top: 240px;
	overflow: visible;
}
#Base_bl {
	fill: rgba(47,57,78,1);
}
.Base_bl {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 558px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#How_To_Boost_Your_Traffic_Of_Y_bm {
	left: 210px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Clyde_Cole {
	left: 260px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Aug_15_bo {
	left: 260px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Avatar_bp {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 205px;
	top: 90px;
	overflow: visible;
}
#ic_bookmark_bq {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 490px;
	top: 100px;
	overflow: visible;
}
#Base_br {
	fill: transparent;
}
.Base_br {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_bs {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_bs {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_bt {
	position: absolute;
	width: 190px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Horizontal_Card_bu {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 735px;
	top: 240px;
	overflow: visible;
}
#Base_bv {
	fill: rgba(47,57,78,1);
}
.Base_bv {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 558px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#How_To_Boost_Your_Traffic_Of_Y_bw {
	left: 210px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Gilbert_Hogan {
	left: 260px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 82px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Aug_15_by {
	opacity: 0.3;
	left: 260px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ic_bookmark_bz {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 490px;
	top: 100px;
	overflow: visible;
}
#Base_b {
	fill: transparent;
}
.Base_b {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_b {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_b {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Avatar_b {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 205px;
	top: 90px;
	overflow: visible;
}
#Image_b {
	position: absolute;
	width: 190px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Horizontal_Card_b {
	position: absolute;
	width: 540px;
	height: 150px;
	left: 735px;
	top: 60px;
	overflow: visible;
}
#Base_ca {
	fill: rgba(47,57,78,1);
}
.Base_ca {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 558px;
	height: 168px;
	left: 0px;
	top: 0px;
}
#How_To_Boost_Your_Traffic_Of_Y_b {
	left: 210px;
	top: 23px;
	position: absolute;
	overflow: visible;
	width: 248px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Luke_Nunez {
	left: 260px;
	top: 90px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Aug_15_b {
	opacity: 0.3;
	left: 260px;
	top: 111px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(179,179,179,1);
}
#ic_bookmark_b {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 490px;
	top: 100px;
	overflow: visible;
}
#Base_cb {
	fill: transparent;
}
.Base_cb {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_cb {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_cb {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Avatar_cc {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 205px;
	top: 90px;
	overflow: visible;
}
#Image_cd {
	position: absolute;
	width: 190px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Vertical_Card {
	position: absolute;
	width: 255px;
	height: 330px;
	left: 1020px;
	top: 600px;
	overflow: visible;
}
#Base_cf {
	fill: rgba(47,57,78,1);
}
.Base_cf {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 273px;
	height: 348px;
	left: 0px;
	top: 0px;
}
#Content_cg {
	position: absolute;
	width: 210px;
	height: 137px;
	left: 20px;
	top: 173px;
	overflow: visible;
}
#Vampires_The_Romantic_Ideology {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 172px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Dude_You_Re_Getting_A_Telescop {
	opacity: 0.3;
	left: 1px;
	top: 68px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Dennis_Ortiz {
	left: 55px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 72px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#May_18_ck {
	opacity: 0.3;
	left: 55px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Avatar_cl {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 97px;
	overflow: visible;
}
#ic_bookmark_cm {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 180px;
	top: 102px;
	overflow: visible;
}
#Base_cn {
	fill: transparent;
}
.Base_cn {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_co {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_co {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_cp {
	position: absolute;
	width: 255px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Vertical_Card_cq {
	position: absolute;
	width: 255px;
	height: 330px;
	left: 735px;
	top: 600px;
	overflow: visible;
}
#Base_cr {
	fill: rgba(47,57,78,1);
}
.Base_cr {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 273px;
	height: 348px;
	left: 0px;
	top: 0px;
}
#Content_cs {
	position: absolute;
	width: 210px;
	height: 137px;
	left: 20px;
	top: 173px;
	overflow: visible;
}
#The_Surprising_Popularity_Of__ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Dude_You_Re_Getting_A_Telescop_cu {
	opacity: 0.3;
	left: 1px;
	top: 68px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Harriett_Fletcher {
	left: 55px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 96px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#May_18_cw {
	opacity: 0.3;
	left: 55px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ID43w {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 97px;
	overflow: visible;
}
#ic_bookmark_cy {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 180px;
	top: 102px;
	overflow: visible;
}
#Base_cz {
	fill: transparent;
}
.Base_cz {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_c {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_c {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_c {
	position: absolute;
	width: 255px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Vertical_Card_c {
	position: absolute;
	width: 255px;
	height: 330px;
	left: 450px;
	top: 600px;
	overflow: visible;
}
#Base_c {
	fill: rgba(47,57,78,1);
}
.Base_c {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 273px;
	height: 348px;
	left: 0px;
	top: 0px;
}
#Content_c {
	position: absolute;
	width: 210px;
	height: 137px;
	left: 20px;
	top: 173px;
	overflow: visible;
}
#Cooking_Recipes_Anytime__And_A {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 188px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Dude_You_Re_Getting_A_Telescop_c {
	opacity: 0.3;
	left: 1px;
	top: 68px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Jerry_Simmons {
	left: 55px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#May_18_c {
	opacity: 0.3;
	left: 55px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ID33w {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 97px;
	overflow: visible;
}
#ic_bookmark_da {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 180px;
	top: 102px;
	overflow: visible;
}
#Base_db {
	fill: transparent;
}
.Base_db {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_dc {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_dc {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_dd {
	position: absolute;
	width: 255px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Vertical_Card_de {
	position: absolute;
	width: 255px;
	height: 330px;
	left: 165px;
	top: 600px;
	overflow: visible;
}
#Base_df {
	fill: rgba(47,57,78,1);
}
.Base_df {
	filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.059));
	position: absolute;
	overflow: visible;
	width: 273px;
	height: 348px;
	left: 0px;
	top: 0px;
}
#Content_dg {
	position: absolute;
	width: 210px;
	height: 137px;
	left: 20px;
	top: 173px;
	overflow: visible;
}
#How_To_Write_Better_Advertisin {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 143px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -7px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(255,255,255,1);
}
#Dude_You_Re_Getting_A_Telescop_di {
	opacity: 0.3;
	left: 1px;
	top: 68px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#Katherine_Wise {
	left: 55px;
	top: 97px;
	position: absolute;
	overflow: visible;
	width: 89px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#May_18_dk {
	opacity: 0.3;
	left: 55px;
	top: 118px;
	position: absolute;
	overflow: visible;
	width: 40px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -9px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ID21w {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 97px;
	overflow: visible;
}
#ic_bookmark_dm {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 180px;
	top: 102px;
	overflow: visible;
}
#Base_dn {
	fill: transparent;
}
.Base_dn {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_do {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_do {
	overflow: visible;
	position: absolute;
	width: 14px;
	height: 18px;
	left: 8px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#Image_dp {
	position: absolute;
	width: 255px;
	height: 150px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Header {
	position: absolute;
	width: 1440px;
	height: 390px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Base_dr {
	fill: rgba(49,57,76,1);
}
.Base_dr {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 390px;
	left: 0px;
	top: 0px;
}
#Content_ds {
	position: absolute;
	width: 1440px;
	height: 366px;
	left: 0px;
	top: 24px;
	overflow: visible;
}
#Lines {
	position: absolute;
	width: 1440px;
	height: 62px;
	left: 0px;
	top: 304px;
	overflow: visible;
}
#Line {
	fill: rgba(61,70,94,1);
}
.Line {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 2px;
	left: 0px;
	top: 0px;
}
#Line_dv {
	fill: rgba(61,70,94,1);
}
.Line_dv {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 2px;
	left: 0px;
	top: 60px;
}
#About {
	position: absolute;
	width: 1015px;
	height: 156px;
	left: 165px;
	top: 96px;
	overflow: visible;
}
#Avatar_dx {
	position: absolute;
	width: 90px;
	height: 90px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Phoebe_Bridges {
	left: 140px;
	top: 12px;
	position: absolute;
	overflow: visible;
	width: 128px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -1px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: rgba(255,255,255,1);
}
#ID124 {
	left: 141px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#ID45 {
	left: 262px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 17px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Followers {
	opacity: 0.3;
	left: 175px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 62px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Following {
	opacity: 0.3;
	left: 288px;
	top: 55px;
	position: absolute;
	overflow: visible;
	width: 61px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -3px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Social {
	position: absolute;
	width: 110px;
	height: 30px;
	left: 365px;
	top: 50px;
	overflow: visible;
}
#ic_facebook {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Base_d {
	fill: transparent;
}
.Base_d {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_d {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_d {
	overflow: visible;
	position: absolute;
	width: 9px;
	height: 18px;
	left: 11px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#ic_twitter {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 40px;
	top: 0px;
	overflow: visible;
}
#Base_ea {
	fill: transparent;
}
.Base_ea {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_ea {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_ea {
	overflow: visible;
	position: absolute;
	width: 18px;
	height: 15px;
	left: 6px;
	top: 8px;
	transform: matrix(1,0,0,1,0,0);
}
#ic_instagram {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 80px;
	top: 0px;
	overflow: visible;
}
#Base_eb {
	fill: transparent;
}
.Base_eb {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_ec {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_ec {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 5px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Add_User {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 880px;
	top: 15px;
	overflow: visible;
}
#Base_ee {
	fill: transparent;
	stroke: rgba(61,70,94,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Base_ee {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#ic_person_add {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 15px;
	top: 15px;
	overflow: visible;
}
#Base_eg {
	fill: transparent;
}
.Base_eg {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_eh {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_eh {
	overflow: visible;
	position: absolute;
	width: 22px;
	height: 16px;
	left: 4px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Email {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 955px;
	top: 15px;
	overflow: visible;
}
#Base_ej {
	fill: transparent;
	stroke: rgba(61,70,94,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Base_ej {
	position: absolute;
	overflow: visible;
	width: 60px;
	height: 60px;
	left: 0px;
	top: 0px;
}
#ic_email {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 15px;
	top: 15px;
	overflow: visible;
}
#Base_el {
	fill: transparent;
}
.Base_el {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_em {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_em {
	overflow: visible;
	position: absolute;
	width: 20px;
	height: 16px;
	left: 5px;
	top: 7px;
	transform: matrix(1,0,0,1,0,0);
}
#Businesses_often_become_known_ {
	opacity: 0.3;
	left: 140px;
	top: 107px;
	position: absolute;
	overflow: visible;
	width: 757px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(255,255,255,1);
}
#Menu {
	position: absolute;
	width: 287px;
	height: 18px;
	left: 576px;
	top: 326px;
	overflow: visible;
}
#Articles {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 46px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Recommends {
	opacity: 0.3;
	left: 86px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Subscriptions {
	opacity: 0.3;
	left: 207px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	line-height: 30px;
	margin-top: -8.5px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	color: rgba(255,255,255,1);
}
#Navigate {
	position: absolute;
	width: 1440px;
	height: 66px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Logo {
	fill: rgba(0,0,0,0);
	stroke: rgba(255,255,255,1);
	stroke-width: 8px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Logo {
	overflow: visible;
	position: absolute;
	width: 40px;
	height: 40px;
	left: 703px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_eu {
	fill: rgba(61,70,94,1);
}
.Line_eu {
	position: absolute;
	overflow: visible;
	width: 1440px;
	height: 2px;
	left: 0px;
	top: 64px;
}
#Write_Article {
	position: absolute;
	width: 140px;
	height: 40px;
	left: 25px;
	top: 1px;
	overflow: visible;
}
#Base_ew {
	fill: transparent;
	stroke: rgba(61,70,94,1);
	stroke-width: 2px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Base_ew {
	position: absolute;
	overflow: visible;
	width: 140px;
	height: 40px;
	left: 0px;
	top: 0px;
}
#ic_create {
	position: absolute;
	width: 24px;
	height: 24px;
	left: 15px;
	top: 8px;
	overflow: visible;
}
#Base_ey {
	fill: transparent;
}
.Base_ey {
	position: absolute;
	overflow: visible;
	width: 24px;
	height: 24px;
	left: 0px;
	top: 0px;
}
#Icon_ez {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_ez {
	overflow: visible;
	position: absolute;
	width: 14.402px;
	height: 14.402px;
	left: 4.801px;
	top: 4.801px;
	transform: matrix(1,0,0,1,0,0);
}
#Write_Article_e {
	opacity: 0.3;
	left: 47px;
	top: 11px;
	position: absolute;
	overflow: visible;
	width: 68px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -4px;
	text-align: left;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	color: rgba(255,255,255,1);
}
#ic_search {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1268.999px;
	top: 5px;
	overflow: visible;
}
#Base_e {
	fill: transparent;
}
.Base_e {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_e {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_e {
	overflow: visible;
	position: absolute;
	width: 17.49px;
	height: 17.49px;
	left: 7.001px;
	top: 6px;
	transform: matrix(1,0,0,1,0,0);
}
#ic_notifications {
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1320px;
	top: 5px;
	overflow: visible;
}
#Base_fa {
	opacity: 0.3;
	fill: transparent;
}
.Base_fa {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Icon_fa {
	opacity: 0.3;
	fill: rgba(255,255,255,1);
}
.Icon_fa {
	overflow: visible;
	position: absolute;
	width: 16px;
	height: 19.5px;
	left: 7px;
	top: 5px;
	transform: matrix(1,0,0,1,0,0);
}
#Avatar_e {
	position: absolute;
	width: 40px;
	height: 40px;
	left: 1370px;
	top: 1px;
	overflow: visible;
}